@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black!important;
}
.nav-links{
  color: black;
  font-size: large;
}


.nav-links-login{
  size: 2rem;
}
.mycard{
  margin-top:5% ;
}
.auth-card{
  padding: 1.5rem;
  text-align: center;
  max-width: 600px;
  margin:10px auto;
}
.input-field:focus{
  border-bottom: 1px solid rgb(8, 93, 252)!important;
  box-shadow: 0 1px 0 0  rgb(8, 93, 252)!important;
}
.textarea{
  min-width: 97%;
  max-width: 97%;
  min-height: 250px;
  
}
.home-container{
  margin: 2%;
}
body{
  overflow-x: hidden;
}
.nav-bar{
z-index: 999;
margin:0 0 2% 0;
padding: 1%;
width: 100%;

}
.gallery{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
  justify-content: space-around;

}
.textarea{
  width: 80%;
  
}
.create-post-container{
  align-items: center;
}
.create-post-div{
  max-width: 60%;

}
.home-card{
  
  height: 100%;
  margin: 26px auto;
  display: flex;
}
.card-image img{
width:300px;
height: 300px;
object-fit: cover;
}
.proflie-main-div{
  max-width: 70%;
  margin: 0 auto;
}
@media(max-width:700px){
  .proflie-main-div{
    max-width: 100%;
  }
  .create-post-div{
    max-width: 90%;
  }
  .auth-card{
    max-width: 80%;
  }
}
.home-card{
  padding: 1rem;
width:95%;
flex-direction: row;
}
.item{
  width: 30%;

}